body {
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0px;
    text-align: center;
    font-family: arial, Arial, Helvetica, sans-serif;
}
head {
    background: #ebebeb;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav {
    background: #ebebeb;
}
section {
    background: #ebebeb;
}
aside {
    background: #ebebeb;
}
footer {
    background: #ebebeb;
}
article {
    color: #ebebeb;
    background: #777;
}
h1, p {
    color: #777;
    background: #ebebeb;
    padding-top: 10px;
    padding-bottom: 10px;
}
section {
    width: 495px
}