* {
    margin: 0px;
    text-align: center;
    box-sizing: border-box; 
    overflow: auto;
}
head, nav, aside, section, footer {
    background: #ebebeb;
}
body {
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    font-family: arial, Arial, Helvetica, sans-serif;
}

article {
    color: #ebebeb;
    background: #777;
}
#leftbox {
    float: left;
    width: 50%;
    padding: 1px;
}
h1, p {
    color: #777;
    background: #ebebeb;
    
}   
#rightbox {
    width: 50%;
    float: right;
    display: block;
    clear: left;
}
#foot {
    clear: both;
    padding: 20px;
}